<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Poem</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header text-center" id="poem-info" style="display: none;">
                <h1>{{ poem.title }}</h1>
                <h5 class="text-muted">by {{ poem.author }}</h5>
            </div>
            <div class="card-body">
                <p class="card-text"><pre>{{ poem.content }}</pre></p>
            </div>
        </div>
        <div class="text-center mt-3">
            <button id="reveal-btn" class="btn btn-secondary">Reveal Title and Author</button>
        </div>
        <div class="text-center mt-3">
            <a href="/" class="btn btn-primary">Show Another Poem</a>
        </div>
    </div>
    <script>
            document.getElementById('reveal-btn').addEventListener('click', function() {
            var poemInfo = document.getElementById('poem-info');
            if (poemInfo.style.display === 'none') {
                poemInfo.style.display = 'block';
                this.textContent = 'Hide Title and Author';
            } else {
                poemInfo.style.display = 'none';
                this.textContent = 'Reveal Title and Author';
            }
        });

    </script>
</body>
</html>